---
---

@import 'bootstrap/bootstrap';

@font-face {
  font-family: Futura;  
  src: url(../img/site/futura.ttc);  
  font-weight: normal;  
}

/* body    ******************************************************** */


body {
  
  font-family: Futura, sans-serif;
  // min-width: 284px;

}
h1{
  font-family: Futura, sans-serif;
  font-size: 30px;
  padding-top: 30px;
}
h2{
  font-family: Futura, sans-serif;
  font-size: 24px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
h3{
  font-family: Futura, sans-serif;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
h4{
  font-family: Futura, sans-serif;
  font-size: 18px;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
.lead{
  font-size: 11px;
}

a{
  text-decoration: none !important;
}
a:hover{
  opacity: 0.9 !important;
}


.row-a{
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $rowbga !important; 
  color: $rowtexta !important;
  justify-content: center;
}

.row-b{
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $rowbgb !important; 
  color: $rowtextb !important;
  justify-content: center;
  text-align: right;
}
.col-a{
  max-width: 600px !important;
  
}

.col-b{
  max-width: 600px !important;
  
}
.example-col{
  max-width: 400px !important;
  padding: 15px;
}
.example-text-col{
  max-width: 1200px;
  
}
.img-center{
  margin:0 auto;
}

/* index    ******************************************************** */


.banner{
  background-color : $background !important;
  //background-image: url(../img/site/bannerNoName.png);
  //background-size: cover;
  color: $primary !important;
  height: 100vh;
  min-height: 400px;
  margin-left: 0px;
  margin-right: 0px;
}

.banner-top-row{
  height: 10%;
  background-image: url(../img/site/BannerBoven.png);
  background-size: cover;
  background-position: center bottom;
}
.banner-bottom-row{
  height: 90%;
}
.banner-left-col{
  background-image: url(../img/site/BannerLinks.png);
  background-size: cover;
  background-position: right top;
  overflow: hidden;
}
.banner-center-col{
  margin-top: 30px;
  
  max-width: 300px;
  
}
.banner-right-col{
  background-image: url(../img/site/BannerRechts.png);
  background-size: cover;
  background-position: left top;
  overflow: hidden;
}

.function-img-col{
  max-width: 65px;
  padding-bottom: 15px;
  border-right: solid;
  border-width: 1px;
  border-color: $primary;
}
.function-text-col{

margin-top: auto;
margin-bottom: auto;

}
.logo-img-row{
  padding-top: calc( ( 85vh - 500px)  / 2 );
}
.scroll-row{
  text-align: center; 
  padding-top: calc( ( 85vh - 500px ) / 2 );
  
}
/* nav    ******************************************************** */

.navbar{
    border-bottom: solid;
    border-width: 2px;
    border-color: $primary !important;
    background-color : $background !important;
  
    .nav-item{
      margin-left: 20px;
      border-color: $primary !important;
      
    }
  }
  
  .nav-link {
    color: $info !important;
  
    &:hover {
      opacity: 1 !important;
      color: $primary !important;
    }
  }

/* about    ******************************************************** */

.about-row{
  padding-top: 30px;
  
}

.about-title{
text-align: left;
}



/* games    ******************************************************** */

.game-row{
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.game-img-col{
  max-width: 600px !important;
 
}
.game-text-col{
  max-width: 600px !important;
}
.rounded {
  border-radius: 10px !important; //for example
}

/* visualisations *********************************************** */


.vis-col{
  padding-left: 0px;
  padding-right: 0px;
}
.vis-img{
  max-height: 75vh;
  margin: auto;    
    display: block;
    
}

.vis-img-row{
  
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
 
}
.vis-text-col{
  padding-right: 30px;
  padding-left: 30px;
}


/* 404    ******************************************************** */

.page-404{
  background-image: url('../img/site/bannerNoName.png');
  background-size: cover;
}




/* footer    ******************************************************** */

.footer{
    color : $background !important;
}

.social-links {
a {
    text-decoration: none;
    padding-right: 10px;

    &:hover {
    color: $background;
    cursor: pointer;
    }
}
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  .about-title{
    text-align: right;
  }
  .banner-top-row{
    height: 15%;
  }
  .banner-bottom-row{
    height: 85%;
  }

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  h1{
    font-size: 48px;
  }
  h2{
    font-size: 36px;
  }
  h3{
    font-size: 22px;
  }
  p{
    font-size: 16px;
  }
  .lead{
    font-size: 14px;
  }
  .banner{
    min-height: 600px;  
  }
  .logo-img-row{
    padding-top: calc( (85vh - 600px) / 2 );
  }
  .scroll-row{
    padding-top: calc( (85vh - 600px) / 2 );
    
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }

