---
---

@import 'bootstrap/bootstrap';

@font-face {
  font-family: Futura;  
  src: url(../img/site/futura.ttc);  
  font-weight: normal;  
}

/* body    ******************************************************** */

body {
  
  font-family: Futura, sans-serif;
   

}
h1{
  font-family: Futura, sans-serif;
}
h2{
  font-family: Futura, sans-serif;
  font-size: 36px;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
a{
  text-decoration: none !important;
}
a:hover{
  opacity: 0.95 !important;
}
.lead{
  font-size: 14px;
}


/* nav    ******************************************************** */

.navbar{
    border-bottom: solid;
    border-width: 2px;
    border-color: $primary !important;
    background-color : $background !important;
  
    .nav-item{
      margin-left: 20px;
      border-color: $primary !important;
      
    }
  }
  
  .nav-link {
    color: $info !important;
  
    &:hover {
      opacity: 1 !important;
      color: $primary !important;
    }
  }

/* games    ******************************************************** */

.game-row{
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  

}

.game-img-col{
  max-width: 600px !important;
}
.game-text-col{
  max-width: 600px !important;
}
.rounded {
  border-radius: 10px !important; //for example
}

/* visualisations *********************************************** */


.vis-img-col{
  
  padding-left: 15px;
  padding-right: 15px;
  max-height: 600px;
  overflow: hidden;
  position: relative;
 
  
}
.vis-text-col{
  padding-right: 30px;
  padding-left: 30px;
}


/* 404    ******************************************************** */

.page-404{
  background-image: url('../img/site/bannerNoName.png');
  background-size: cover;
}




/* footer    ******************************************************** */

.footer{
    color : $background !important;
}

.social-links {
a {
    text-decoration: none;
    padding-right: 10px;

    &:hover {
    color: $background;
    cursor: pointer;
    }
}
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  h2{
    font-size: 24px;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  h2{
    font-size: 36px;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }

