---
layout: default
title: home
---
<div class="row banner">
  <div class="col">

    <div class="row banner-top-row">
      
    </div>

    <div class="row banner-bottom-row justify-content-between">

      <div class="col-2 col-md-3 col-xl-4 banner-left-col">
        
      </div>

      <div class="col banner-center-col">
        
        <div class="row justify-content-center">
          <div class="col-8 col-md text-center">
            <img class="img-fluid pb-md-5"  src="../img/site/JelleVermandereLogo.png" alt="Jelle Vermandere">
          </div>
        </div>
        
        <div class="row pb-4">
          <div class="col">
            <div class="row function-row">
              <div class="col-md-3 offset-sm-2 function-img-col">
                <img class="img-fluid" src="../img/site/3DGeneralist.png" alt="3D Generalist Logo">
              </div>
              <div class="col col-md-7  function-text-col">
                <h4 class="align-middle">3D Generalist</h4>
              </div>
            </div>
            <div class="row function-row">
              <div class="col-md-3 offset-sm-2 function-img-col">
                <img class="img-fluid"  src="../img/site/GameDesigner.png" alt="Game Designer Logo">
              </div>
              <div class="col col-md-7  function-text-col">
                <h4>Game Designer</h4>
              </div>
            </div>
            <div class="row function-row">
              <div class=" col-md-3 offset-sm-2 function-img-col">
                <img class="img-fluid"  src="../img/site/potlood.png" alt="Illustator Logo">
              </div>
              <div class="col col-md-7  function-text-col">
                <h4>Illustator</h4>
              </div>
            </div>
          </div>

        </div>
          
        <div class="row scroll-row">
          <div class="col">
            <h4 class="pb-2">Scroll to discover more</h4>
            <img class="img" height="30px" src="../img/site/Pijl.png" alt="arrow">

          </div>
          
        </div>
        
      </div>

      <div class="col-2 col-md-3 col-xl-4 banner-right-col">
        
      </div>

    </div>

        
        

  </div>

</div>




  <div class="row row-a">
    <div class="col example-text-col">
      <h1 class="text-primary">I am Jelle Vermandere</h1>
      <p>
        I am a 3D generalist who enjoys making digital things. 
      </p>
    </div>
  </div>

    <div class="row row-b">
      <div class="col example-text-col">
        <h1 class="text-primary">I can make visualisations for you</h1>
        <p>
          Do you need an image of something that does not exist yet? Contact me and let's work together!
        </p>
        <p>
          Have a look of some previous projects I worked on:
        </p>
      </div>
    </div>
    
    <div class="row row-b ">
      {% for visualisations in site.visualisations reversed limit: 3%}
        <div class="col-sm example-col">

          <img class="img-fluid rounded game-image" src="../img/visualisations/main/{{visualisations.main_image}}" alt="{{visualisations.title}}">
          
        </div>
      {% endfor %}
    
    </div>

    <div class="row row-b">
      <a class="btn btn-outline-primary btn-lg" href="/visualisations">View all</a>
    
    </div>

  <div class="row row-a">
    <div class="col example-text-col">
      <h1 class="text-primary">I make video games</h1>
      <p>
        Video games are an expression of all kinds of different disciplines, bringing all of them toghether in fun experiences.
      </p>
     
    </div>
  </div>

  <div class="row row-a">
    {% for games in site.games reversed limit: 3%}
      <div class="col-sm example-col">
        
        <img class="img-fluid rounded game-image" src="../img/games/main/{{games.main_image}}" alt="{{games.title}}">
        
      </div>
    {% endfor %}
  
  </div>

  <div class="row row-a ">
    <a class="btn btn-outline-primary btn-lg" href="/games">View all</a>
  
  </div>

  <div class="row row-b ">
    <div class="col example-text-col">
      <h1 class="text-primary">Contact me!</h1>
      <p>
        Need something made digitally? Contact me and let's see what's possible.
      </p>
     
    </div>
  </div>

