$primary: #eb794c; // orange

$background: #1a3049; // dark blue

$info: #d9e8f3; // light blue

$rowbgb: #e1ecf5; // light light blue

$rowtextb: #222; // dark gray

$rowbga: #fff; // <hite

$rowtexta: #444; // dark gray

