<div class="row banner">
    <div class="col">
  
      <div class="row banner-top-row">
        
      </div>
  
      <div class="row banner-bottom-row justify-content-between">
  
        <div class="col-2 col-md-3 col-xl-4 banner-left-col">
          
        </div>
  
        <div class="col banner-center-col">
          
          <div class="row justify-content-center logo-img-row">
            <div class="col-8 col-md text-center">
              <img class="img-fluid pb-sm-1 pb-md-3"  src="../img/site/JelleVermandereLogo.png" alt="Jelle Vermandere">
            </div>
          </div>
          
          <div class="row pb-2">
            <div class="col">
              <div class="row function-row">
                <div class="col-md-3 offset-sm-2 function-img-col">
                  <img class="img-fluid" src="../img/site/3DGeneralist.png" alt="3D Generalist Logo">
                </div>
                <div class="col col-md-7  function-text-col">
                  <h4 class="align-middle">3D Generalist</h4>
                </div>
              </div>
              <div class="row function-row">
                <div class="col-md-3 offset-sm-2 function-img-col">
                  <img class="img-fluid"  src="../img/site/GameDesigner.png" alt="Game Designer Logo">
                </div>
                <div class="col col-md-7  function-text-col">
                  <h4>Game Designer</h4>
                </div>
              </div>
              <div class="row function-row">
                <div class=" col-md-3 offset-sm-2 function-img-col">
                  <img class="img-fluid"  src="../img/site/potlood.png" alt="Illustator Logo">
                </div>
                <div class="col col-md-7  function-text-col">
                  <h4>Illustator</h4>
                </div>
              </div>
            </div>
  
          </div>
            
          <div class="row scroll-row">
            <div class="col">
              <h4 class="pb-2">Scroll to discover more</h4>
              <img class="img" height="30px" src="../img/site/Pijl.png" alt="arrow">
  
            </div>
            
          </div>
          
        </div>
  
        <div class="col-2 col-md-3 col-xl-4 banner-right-col">
          
        </div>
  
      </div>
  
          
          
  
    </div>
  
  </div>