<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{{site.baseurl}}/index.html"><img class="logo d-md-none" height="30" src="{{site.baseurl}}/img/site/potlood.png" alt="Jellever"><img class="logo d-none d-md-block" height="50" src="{{site.baseurl}}/img/site/JelleVerLogo.png" alt="Jellever"></a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="{{ site.baseurl }}/about/" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="{{ site.baseurl }}/visualisations/" class="nav-link">Visualisations</a>
          </li>
          <li class="nav-item">
            <a href="{{ site.baseurl }}/games/" class="nav-link">Games</a>
          </li>
          <li class="nav-item text-primary ">
            <a href="{{ site.baseurl }}/contact/" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>