---
layout: default
title: games
permalink: /games/
published: true
---


      
{% for games in site.games reversed %}
{% assign value = forloop.index | modulo:2 %}
{% if value == 0 %}
<a class="row game-row justify-content-center" style="background-color:{{games.main_color}}; color: {{games.second_color}}" href="{{ games.permalink }}">

    <div class="col-md-5 col-xl-4">

      <img class="img-fluid rounded game-image" src="../img/games/main/{{games.main_image}}" alt="{{games.title}}">

    </div>

    <div class="col-md-7 col-xl-6">

      <h2 style="text-align: left;" style="color: {{games.second_color}};">{{ games.title }}</h2>
      
      <p class="text-info lead">
        {{ games.date | date: "%b %-d, %Y" }}
      </p>
      
      <p style="color: {{games.second_color}};">
        {{ games.subtitle }}
      </p>

    </div> 

  </a>
  
{% else %}
  <a class="row game-row justify-content-center" style="background-color:{{games.main_color}}; color: {{games.second_color}}" href="{{ games.permalink }}">

    <div class="col-md-7 col-xl-6" >

      <h2 style="text-align: right;" style="color: {{games.second_color}};">{{ games.title }}</h2>
      
      <p class="text-info lead" style="text-align: right; color: {{games.second_color}};">
        {{ games.date | date: "%b %-d, %Y" }}
      </p>
      
      <p style="color: {{games.second_color}}; text-align: right;">
        {{ games.subtitle }}
      </p>

    </div> 

    <div class="col-md-5 col-xl-4">

      <img class="img-fluid rounded game-image" src="../img/games/main/{{games.main_image}}" alt="{{games.title}}">

    </div>



  </a>
{% endif %}


  {% endfor %}


