---
layout: default
title: visualisations
permalink: /visualisations/
published: true
---

{% for visualisations in site.visualisations reversed %}
{% assign value = forloop.index | modulo:2 %}
{% if value == 0 %}
  <a class="row vis-row-a justify-content-center" href="{{ visualisations.permalink }}">

    <div class="col-sm-6 game-img-col">

      <img class="img-fluid rounded game-image" src="../img/visualisations/main/{{visualisations.main_image}}" alt="{{visualisations.title}}">

    </div>

    <div class="col-sm-6 game-text-col">

      <h2 style="text-align: left;" style="color: $rowtexta;">{{ visualisations.title }}</h2>
      
      <p class="text-muted lead">
        {{ visualisations.date | date: "%b %-d, %Y" }}
      </p>
      
      <p style="color: $rowtexta; text-align: justify;">
        {{ visualisations.subtitle }}
      </p>

    </div> 

  </a>
  
{% else %}
  <a class="row vis-row-b justify-content-center" href="{{ visualisations.permalink }}">

    <div class="col-sm-6 game-text-col order-2 order-sm-1" >

      <h2 style="text-align: right;" style="color: $rowtextb;">{{ visualisations.title }}</h2>
      
      <p class="text-muted lead" style="text-align: right;">
        {{ visualisations.date | date: "%b %-d, %Y" }}
      </p>
      
      <p style="color: $rowtextb; text-align: justify;">
        {{ visualisations.subtitle }}
      </p>

    </div> 

    <div class="col-sm-6 game-img-col order-1 order-sm-1">

      <img class="img-fluid rounded game-image" src="../img/visualisations/main/{{visualisations.main_image}}" alt="{{visualisations.title}}">

    </div>

  </a>

{% endif %}

{% endfor %}